In [2]:
import sys
from pathlib import Path

project_root = Path("..").resolve()
sys.path.append(str(project_root))

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [4]:
from src.data import load_exoplanet_data

In [5]:
import pandas as pd

path = "../data/raw/exoplanets.csv"

df = pd.read_csv(path, sep=",", comment="#")
df.head()

   discoverymethod  disc_year   sy_dist
0  Radial Velocity       2007   93.1846
1  Radial Velocity       2007   93.1846
2  Radial Velocity       2007   93.1846
3  Radial Velocity       2009  125.3210
4  Radial Velocity       2009  125.3210

In [6]:
from src.data import load_exoplanet_data

In [7]:
from src.data import load_exoplanet_data
df = load_exoplanet_data("../data/raw/exoplanets.csv")
df.head()

   discoverymethod  disc_year   sy_dist
0  Radial Velocity       2007   93.1846
1  Radial Velocity       2007   93.1846
2  Radial Velocity       2007   93.1846
3  Radial Velocity       2009  125.3210
4  Radial Velocity       2009  125.3210

In [8]:
df.shape

(39251, 3)

In [9]:
df.columns

Index(['discoverymethod', 'disc_year', 'sy_dist'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39251 entries, 0 to 39250
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   discoverymethod  39251 non-null  object
 1   disc_year        39251 non-null  int64
 2   sy_dist          38405 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 920.1+ KB

In [11]:
df.head()

   discoverymethod  disc_year   sy_dist
0  Radial Velocity       2007   93.1846
1  Radial Velocity       2007   93.1846
2  Radial Velocity       2007   93.1846
3  Radial Velocity       2009  125.3210
4  Radial Velocity       2009  125.3210

In [12]:
features = ["discoverymethod","disc_year","sy_dist"]